#empty for now
.terraform.lock.hcl
./.terraform
/Users/margueriteblair/Documents/CareerDevs11/javascript/101/2021-05/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.42.0/darwin_amd64/terraform-provider-aws_v3.42.0_x5